.container {
    display: flex;
}

.imageProduct {
    height: 500px;
}

.cardInformation {
    margin-left: 20px;    
}

.productName {
    font-size: 20px;
    font-weight: bold;
}

.productPrice {
    background-color: greenyellow;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: green
}

.productDescription {
    font-size: 18px;
    max-width: 300px;
}