.animeLeft {
    opacity: 0;
    transform: translateX(-20px);
    animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
    to {
        opacity: 1;
        transform: initial;
    }
}

.animeRight {
    opacity: 0;
    transform: scale(0.2);
    animation: animeRight 0.8s forwards;
}

@keyframes animeRight {
    to {
        opacity: 1;
        transform: initial;
    }
}